<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Prereq View</title>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- semantic ui -->
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
	<!-- vis.js -->
  <script src="{{ url_for('static', filename='vis/vis.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='vis/vis.min.css') }}">
  <!-- script -->
  <script async src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
	<!-- help popup -->
	<div id="helpPopup" class="ui custom popup transition hidden">
		<h2>PrereqView</h2>
		<p>Hey there! Thanks for using PrereqView! Here are some tips on how to use this tool:</p>
		<div class="ui bulleted list">
			<div class="item">Search for classes or departments in the search box above!</div>
			<div class="item">Click once on a course to see its description</div>
			<div class="item">Double click on a course to isolate it</div>
			<div class="item">Zoom in/out by scrolling</div>
			<div class="item">Click and drag to move around</div>
		</div>
		<p>Have an awesome time finding what it takes to take your dream course!</p>
		<p>-Kei '20</p>
	</div>
  <div>
		<!-- upper layer -->
		<div class="ui two column doubling stackable grid container" style="position: relative; z-index: 1; padding-top: 20px">
			<div class="column">
  			<!-- header -->
  			<h1 class="ui header">
  				Prerequisites for <div id="term"></div>
  			</h1>
  			<!-- search box with instructions -->
  	    <div id="search" class="search ui center">
					<button class="circular ui icon button" id="helpButton">
						<i class="question icon"></i>
					</button>
  				<div class="ui icon input">
  	        <input class="prompt" type="text" placeholder="Search for Courses">
  	        <i class="search icon"></i>
  	      </div>
  	      <div class="results"></div>
  	    </div>
			</div>
			<div class="column">
  			<div class="ui segment" id="description" style="white-space: pre-wrap;"></div>
			</div>
		</div>
		<!-- graph -->
    <div id="graph"></div>
  </div>
</body>

</html>
